
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/screenshots/
videos/
trace/
report/
test-results/
src/test-results/
src/playwright-report/
src/blob-report/
src/playwright/.cache/
src/playwright/.auth/
src/screenshots/
src/videos/
src/trace/
src/report/
src/logging/
src/data/
src/config/auth.json
